<%= form_for [@exam, @submission]  do |f| %>

  <% @questions.each do |question| %>
    <p><%= question.title %></p>
    <ul>
      <% question.answers.each do |answer| %>
      <li>
        <%= @chosen_option = answer.id %>
        <%= f.radio_button :answer_id, "#{@chosen_option}", id: "yes"%>
      </li>
      <% end %>
    </ul>
  <% end %>


<br>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Submit", class: "btn  btn-primary " %>
<% end %>
