<%= form_for [@exam, @submission]  do |f| %>
  <ul class="questions">
      <% @questions.each do |question| %>
      <li>
        <%= question.title %>
        <ol class="answers">
          <% question.answers.each_with_index do |answer, index| %>
          <li>
            <%= radio_button_tag("submission[ann][#{question.id}]", answer) %>
            <%= label("answer_".concat(answer), answer) %>
          </li>
          <% end %>
        </ol>
      </li>
      <%= will_paginate @questions, :page_links => false %>

      <% end %>
  </ul>
<br>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Submit", class: "btn btn-primary " %>
<% end %>
