<%= form_for [@exam, @submission]  do |f| %>
<div id="counter">0</div>
<div class="wizard" data-initialize="wizard" id="questionFrom">
<div class="steps-container" >
	<ul class="steps">
    <% @questions.each_with_index do |question, index| %>
		<li id="li-step" data-step="<%= index + 1 %>" class="active">
      <span id="step"><%= index + 1 %></span>
		</li>
      <%= content_tag "div", id:"questions", data:{questions: question} do %>
      <% end %>
    <% end %>

	</ul>
  <div class="step-content questions">
      <%= render "question" %>
  </div>
</div>

<div class="actions">
  	<button type="button" class="btn btn-default btn-prev">Prev</button>

    <button type="button" class="btn btn-primary btn-next">Next</button>
    <%= f.submit "Submit", class: "btn btn-primary btn-submit" %>
</div>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>
