<%= form_for [@exam, @submission]  do |f| %>

<% @questions.each do |question| %>
  <p><%= question.title %></p>
  <% question.answers.each do |a| %>
    <p><%= a %> <span><%= radio_button_tag 'question[answers][]',"#{a}", id: "#{a}", class: "form-control"%></span></p>
  <% end %>

<% end %>
<br>
<br>

<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Submit", class: "btn btn-primary " %>
<% end %>
