<%= form_for [@exam, @submission]  do |f| %>
<div id="timer2">
  <div id="pbar_outerdiv" style="width: 100%; height: 20px; border: 1px solid grey; z-index: 1; position: relative; border-radius: 5px; -moz-border-radius: 5px;">
  <div id="pbar_innerdiv" style="background-color: lightblue; z-index: 2; height: 100%; width: 0%; max-width:0%;" aria-valuemax="8"></div>
  <div id="pbar_innertext" style="z-index: 3; position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: black; font-weight: bold; text-align: center;">0%</div>
  </div>
</div>
<div class="wizard" data-initialize="wizard" id="questionFrom">
<div class="steps-container">
	<ul class="steps">
    <% @questions.each_with_index do |question, index| %>
		<li data-step="<%= index + 1 %>" data-name="campaign" class="active">
		</li>
    <% end %>
    <div class="step-content questions">
        <%= render "question" %>
    </div>
	</ul>
</div>

<div class="actions">
  	<button type="button" class="btn btn-default btn-prev">Prev</button>

    <button type="button" class="btn btn-primary btn-next">Next</button>
    <%= f.submit "Submit", class: "btn btn-primary btn-submit" %>
</div>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>
