<%= form_for [@exam, @submission]  do |f| %>

<% @questions.each do |question| %>
  <div class="row question-container">
    <p><%= question.title %></p>
    <% @i = 0 %>
    <% question.answers.each_with_index do |answer, index| %>
      <p><%= answer %>
        <span>
          <% if index === @i %>
            <%= radio_button_tag 'submission[answers][]',"#{answer}", id: "#{answer}", class: "form-control"%>
          <% end %>
        </span>
      </p>
      <% @i = @i + 1 %>
    <% end %>
  </div>
<% end %>
<br>
<br>

<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Submit", class: "btn btn-primary " %>
<% end %>
