<%= form_for [@exam, @question] do |f|  %>
<%= f.text_field :title, class: "form-control" %>
<br>
<%= f.label :sort, 'Yes' %>
<%= radio_button_tag 'question[sort][]','Yes_No', id: 'sort'%><br>
<%= f.label :sort, 'Open question' %>
<%= radio_button_tag 'question[sort][]','open_question', id: 'sort'%><br>
<%= f.label :sort, 'Number' %>
<%= radio_button_tag 'question[sort][]','number', id: 'sort'%><br>
<br>
<p>Timer</p>
<%= f.label :timer, 'Yes' %>
<%= f.radio_button :timer, "yes", id: "yes" %>
<br>
<h3>Tasks</h3>
  <div id='answers'>
    <%= f.fields_for :answers do |answer| %>
      <%= render 'answer_fields', :f => answer %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add answer', f, :answers %>
    </div>
  </div>
  <%= f.submit 'Save' %>

<% end %>
