<%= form_for [@exam, @question] do |f|  %>
<%= f.label :title, 'Question' %>
<%= f.text_field :title, class: "form-control" %>
<br>
<%= f.label :sort, 'Yes' %>
<%= radio_button_tag 'question[sort][]','Yes_No', id: 'sort', class: "form-control"%><br>
<%= f.label :sort, 'Open question' %>
<%= radio_button_tag 'question[sort][]','open_question', id: 'sort', class: "form-control"%><br>
<%= f.label :sort, 'Number' %>
<%= radio_button_tag 'question[sort][]','number', id: 'sort', class: "form-control"%><br>
<br>
<%= f.label 'Timer' %> <br>
<%= f.label :timer, 'yes' %>
<%= f.radio_button :timer, "yes", id: "yes"%>
<br>
<br>
  <%= f.label 'Question answers' %>
  <div id='answers'>
    <%= f.fields_for :answers do |answer| %>
      <%= render 'answer_fields', :f => answer %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add answer', f, :answers, class: 'btn btn-primary' %>
    </div>
  </div>
  <br>
  <%= f.submit 'Save', class: 'btn btn-success' %>

<% end %>
