<%= form_for [@exam, @question] do |f|  %>
<%= f.text_field :title, class: "form-control" %>
<br>
<%= f.label :sort, 'Yes' %>
<%= radio_button_tag 'question[sort][]','Yes_No', id: 'sort'%><br>
<%= f.label :sort, 'Open question' %>
<%= radio_button_tag 'question[sort][]','open_question', id: 'sort'%><br>
<%= f.label :sort, 'Number' %>
<%= radio_button_tag 'question[sort][]','number', id: 'sort'%><br>
<br>
<p>Timer</p>
<%= f.label :timer, 'Yes' %>
<%= f.radio_button :timer, "yes", id: "yes" %>
<br>

<p id="answers"></p>
<%= nested_form_for @question do |q| %>
  <%= q.fields_for :answers do |answer| %>
    <%= answer.text_field :title %>
    <%= answer.link_to_remove "Remove this answer" %>
  <% end %>
  <p><%= q.link_to_add "Add answer", :answers %></p>
<% end %>

<br>
<%= f.submit "Submit", class: "btn btn-lg  btn-primary add-pair" %>
<% end %>
