<%= form_for :test  do |f| %>

<% @questions.each do |question| %>
  <p><%= question.title %></p>
  <% question.answers.each do |answer| %>
    <p><%= answer.title %> <span><%= f.radio_button :answers, "#{answer.id}", id: "q1"%></span></p>
  <% end %>
<% end %>

<br>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit "Submit", class: "btn  btn-primary " %>
<% end %>
